<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>HOTEL GRAND ALIA CIKINI</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="css/circle.css" rel="stylesheet">
  <link href="css/full-slider.css" rel="stylesheet">


  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->

<body class="backgroundwed">

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->
    <!-- Full Page Image Background Carousel Header -->
<header id="home">

      <!-- Controls -->
    <div class="main-nav navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="indexind.html">
            <h1><img class="img-responsive" src="images/logo-gap2.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li><a href="indexind.html">Beranda</a></li>
            <li ><a href="galleryind.html">GALERI</a></li> 
            <li ><a href="suitesind.html">KAMAR & SUITE</a></li>                     
            <li ><a href="meetingsind.html">RUANG RAPAT</a></li>
            <li><a href="weddingind.html" style="color:#dbb13b;">PERNIKAHAN</a></li>
            <li><a href="roomreservationind.html">RESERVASI</a></li>
            <li ><a href="feedbackind.html">SARAN</a></li>

            <li><a href="wedding.html"><img class="img-responsive" src="images/english.png" height="25" width="25" alt="logo"></a></li>
          </ul>
        </div>
      </div>
      </div><!--/#main-nav-->
  </header>


  <section id="weddinghead" class="parallax inner-shadow" style="margin-top: 50px;">
    <div class="container">
      <div class="row" >
        <div class="col-sm-12">
        <h1> <b>W</b>EDDING</h1>
        </div>
      </div>
    </div>

  </section><!--/#features-->

  <div class="container" style=" padding-bottom: 10px ;margin-top:25px; margin-bottom: 25px;">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1" style="height:450px">
          <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner img-responsive">
                <div class="active item">
                    <div class="fill img-responsive" style="background-image: url(images/wed33.jpg); height:450px; width:945px;"></div>
                </div>
                <div class="item ">
                    <div class="fill" style=" background-image: url(images/wedding2.jpg); height:450px; width:945px;"></div>
                </div>
                <div class="item">
                    <div class="fill img-responsive" style="background-image: url(images/wed44.jpg); "></div>

                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel" data-slide="prev"><b>&lsaquo;</b></a>
            <a class="carousel-control right" href="#carousel" data-slide="next"><b>&rsaquo;</b></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
      <h2 class="navy text-center">Kami memiliki yang terbaik untuk anda</h2>
      <center><span class="bordered-icon"><i class="fa fa-heart-o gold" ></i></span></center>
      <br>
      <p>
Fokus utama Alia Wedding adalah perencanaan even dan desain yang mewah yang disediakan khusus untuk klien-klien kami. Tujuan dan filosofi kami simpel; untuk membantu Anda merencanakan visi Anda, gaya Anda dan budget Anda. Kami akan bekerjasama dengan Anda untuk memastikan pesta Anda akan tampil personal dan mencerminkan diri Anda sebagai individual dan sebagai pasangan, mencitrakan nilai-nilai bersama secara indah dan menunjukkan gaya Anda.
      <br><br>
Pendekatan kami dalam perencanaan dan desain pernikahan menjamin setiap aspek dari pernikahan tradisional sampai elegan atau kontemporer akan sebagaimana Anda inginkan: dari tempat, design, gaya, bunga, hiburan dan banyak lagi. Saya akan hadir dalam acara pernikahan Anda agar Anda bisa santai dan menikmati pesta yang sempurna. Pesta pernikahan yang akan diingat famili dan teman-teman Anda bertahun-tahun ke depan. Kamu mungkin sudah mempunyai pandangan terhadap hari impian Anda tersebut, jika belum, kita akan membuatnya bersama…</p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
          <figure  style="margin-bottom:10px;font-size: 20px;">

            <figcaption class="caption">
              <h2 class="navy" style="padding-bottom:5px; border-bottom: 2px solid #dbb13b">Silver Package</h2>
              <i class="fa fa-check biru" style="margin:0 12px 30px 0 "></i>200 Orang
            </figcaption>

            <figcaption class="caption">
              <i class="fa fa-check biru" style="margin:0 12px 30px 0 "></i>5 Jam
            </figcaption>

            <figcaption class="caption">
              <i class="fa fa-check biru" style="margin:0 12px 30px 0 "></i>Ketapang Kencana Venue
            </figcaption>

            <figcaption class="caption">
              <i class="fa  fa-check biru" style="margin:0 12px 30px 0 "></i>Rp 55.000.000,-
            </figcaption>


          </figure>
      </div>

        <div class="col-sm-4 wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
          <figure  style="margin-bottom:10px;font-size: 20px;">

            <figcaption class="caption">
              <h2 class="navy" style="padding-bottom:5px; border-bottom: 2px solid #dbb13b">Gold Package</h2>
              <i class="fa fa-check biru" style="margin:0 12px 30px 0 "></i>400 Orang
            </figcaption>

            <figcaption class="caption">
              <i class="fa fa-check biru" style="margin:0 12px 30px 0 "></i>5 Jam
            </figcaption>

            <figcaption class="caption">
              <i class="fa fa-check biru" style="margin:0 12px 30px 0 "></i>Ketapang Kencana Venue
            </figcaption>

            <figcaption class="caption">
              <i class="fa  fa-check biru" style="margin:0 12px 30px 0 "></i>Rp 65.000.000,-
            </figcaption>


          </figure>
      </div>

    </div>

    <div class="row" style="margin-top: 10px;">
      <br>
      <div class="col-sm-4 col-sm-offset-4">
        <center><a href="http://www.aliawedding.com/" class="bookbtn">VIEW MORE</a></center>
      </div>
    </div>

  </div>



  <footer id="footer">
    <div class="footer-bottom">
      <div class="container putih" >
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="social-icons">
              <ul>
                <li><a class="envelope" href="#"><i class=" fa fa-envelope"></i></a></li>
                <li><a class="twitter" href="#"><i class=" fa fa-twitter"></i></a></li> 
                <li><a class="dribbble" href="#"><i class=" fa fa-dribbble"></i></a></li>
                <li><a class="facebook" href="#"><i class=" fa fa-facebook"></i></a></li>
                <li><a class="linkedin" href="#"><i class=" fa fa-linkedin"></i></a></li>
                <li><a class="tumblr" href="#"><i class=" fa fa-tumblr-square"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row text-center">
            <p><br><br>Copyright 2017, Alia Hotels Group. All Rights Reserved<br>
            </p>
        </div>

      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>