<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>HOTEL GRAND ALIA CIKINI</title>
  <link href="css/bootstrap.css" rel="stylesheet">

  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">

  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <!--DATE TIME PICKER-->
  <link href="css/datepicker.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->

<body>
  <!--.preloader-->
  <!--/.preloader-->
    <!-- Full Page Image Background Carousel Header -->
<header id="home">

      <!-- Controls -->
    <div class="main-nav navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo-gap.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li ><a href="#home">Home</a></li>
            <li ><a href="#services">GALLERY</a></li> 
            <li ><a href="#" >ROOMS & SUITES</a></li>                     
            <li ><a href="#" >MEETINGS</a></li>
            <li ><a href="#">WEDDINGS</a></li>
            <li><a href="#" style="color:#00aeff;">FEEDBACK</a></li>
            <li><a href="#">BOOK NOW</a></li>       
          </ul>
        </div>
      </div>
      </div><!--/#main-nav-->
  </header>


  <section id="feedbackhead" class="parallax inner-shadow" style="margin-top: 50px;">
    <div class="container">
      <div class="row" >
        <div class="col-sm-12">
        <h1> <b>F</b>EEDBACK</h1>
        </div>
      </div>
    </div>

  </section><!--/#features-->



  <div class="container" style="padding-bottom: 10px ;margin-top:25px; margin-bottom: 25px;">
    <div class="row">
      <div class="col-sm-6">
        <form id="main-contact-form" name="contact-form" method="post" action="#">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" name="fname" class="form-control" placeholder="First Name" required="required">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="email" name="lname" class="form-control" placeholder="Last Name" required="required">
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" name="fdemail" class="form-control" placeholder="Email" required="required">
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
          </div>                        
          <div class="form-group">
            <button type="submit" class="bookbtn">Send</button>
          </div>
        </form>   
      </div>
      <div class="col-sm-6">
        <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <p style="font-size: 18px;">Rate us on traveloka, please click <a href="#">here</a>.</p>
          <ul class="address">
            <li><i class="fa fa-map-marker"></i> <span> Address:</span> Jl. Prapatan No. 28 Kwitang - Jakarta Pusat 10410 Indonesia</li>
            <li><i class="fa fa-phone"></i> <span> Phone:</span>(021) 34834444</li>
            <li><i class="fa fa-envelope"></i> <span> Email:<a href="mailto:someone@yoursite.com"> support@aliahotel.com</a></span></li>
            <li><i class="fa fa-globe"></i> Website:<a href="#">www.grenaliaprapatanhotel.com</a> </li>
          </ul>
        </div>                            
      </div>
    </div>
  </div>



  <footer id="footer">
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p><u>English</u> | Bahasa</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Designed by <a href="http://www.themeum.com/">Alia Hotel Group</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>