<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>HOTEL GRAND ALIA CIKINI</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="css/circle.css" rel="stylesheet">
  <link href="css/full-slider.css" rel="stylesheet">
<style>
.affix{top:0;
width: 100%;
z-index: 1030;
}

</style>


  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->
    <!-- Full Page Image Background Carousel Header -->
<header id="home">
    <div id="carousel" class="carousel slide carousel-fade img-responsive" data-ride="carousel" style="transition-duration: 4s; ">

        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item img-responsive">
              <div class="col-sm-12" >
                <img src="images/official-logobaru.jpg" class="shadow" style="float:middle; margin-left:150px; text-align: center; background:transparent;" height="150" width="150" alt="logo">
              </div>
            </div>
            <div class="item">
              <div class="col-sm-12" >
                <img src="images/official-logobaru.jpg" class="shadow" style="float:left; margin-left:150px; text-align: center; background:transparent;" height="150" width="150" alt="logo">
              </div>
            </div>
            <div class="item">
              <div class="col-sm-12" >
                <img src="images/official-logobaru.jpg" class="shadow" style="float:left; margin-left:150px; text-align: center; background:transparent;" height="150" width="150" alt="logo">
              </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div>




      <!-- Controls -->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo-gap2.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li><a href="index2.html" style="color:#dbb13b;">Home</a></li>
            <li ><a href="gallery.html">GALLERY</a></li> 
            <li ><a href="suites.html">ROOMS & SUITES</a></li>                     
            <li ><a href="meetings.html">MEETINGS</a></li>
            <li><a href="wedding.html">WEDDINGS</a></li>
            <li><a href="roomreservation.html" >BOOK NOW</a></li>
            <li ><a href="feedback.html">CONTACT US</a></li>
            <li><a href="indexind.html"><img class="img-responsive" src="images/indonesia.png" height="25" width="25" alt="logo"></a></li>
          </ul>

        </div>

      </div>
      </div><!--/#main-nav-->
  </header>




  <section id="services" style="background-color:#fffeed;">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="col-sm-12">
            <div class="lead text-center">
              <div class="navy2 fontgw">STAY COMFORTABLE IN CENTER OF JAKARTA</div>

            </div>
            <hr class="style17">
              <br>
              <p class="lead" style="font-size:19;padding-top:5px;">3 star comfortable hotel  in jakarta at the heart of city – located in the central city of Jakarta.  Gren Alia Hotel enjoys convenient access to Taman Ismail Marzuki (the Jakarta Cultural Centre) and planetarium  buildings, government offices, embassies, cultural attractions and shopping centres.  Our hotel is not only designed to convey timeless luxury but also to provide a convenience in the city for both business and leisure travellers.
              <br><br>
              We offer Spacious guestrooms and suites,  Grand rooms and suites are fitted with every modern convenience require for a comfortable stay.
              Strategic location, Just few minutes away from shopping centers and also in close proximity to Jakarta’s business, financial and entertainment centres. Culinary adventure that surround by cafes and restaurant – fresh, local and sustainable food. Versatile meetings and events that Ideal for small intimate meetings, large-scale corporate gatherings and fancy wedding celebrations for up to 800 people.
              </p>
              <br>

            </div>

        </div>

        </div> 
      </div>
    </div>
  </section><!--/#services-->


  <section id="twitter" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <h2 class=" h24 text-center" style="color:black;">GREAT MEETING COMES GREAT INSPIRATION AND GREAT RESULTS</h2>
          <p class="lead" style="color:black;">Located in the Central on Jakarta, Gren Alia Prapatan Hotel is a perfect place to venue a meeting. With excellent meeting rooms, enjoyable menus and dedicated services, we guarantee a great meeting for everyone. What you’ll receive: fine services and amenities, excellent location in Central of Jakarta, variety of dining, coffee break and beverages selections, capacity up to 300 pax, high speed internet access.</p>
        </div>
        <div class="col-sm-6 col-sm-offset-6">
          <br>
          <br>
          <br>
          <br>
          <br>
          <center><a href="meetingreservation.html" class="metbtn btn-1 btn-1e">RESERVATION</a></center>
        </div>
      </div>
    </div>
  </section><!--/#twitter-->



  <div class="container" style="padding-bottom: 10px; ">
    <div class="row" style="margin-top: 25px; margin-bottom:25px;">
      <div class="text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <p>For more information and pictures about the room & suites please hover images</p>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/superior3.jpg"/>
                <div class="mask">
                    <h2>STANDARD</h2>
                    <p>TV 24 Inch - Refigrator - AC 1PK - Hotel directory - Bath towel 2 </p>
                    <a href="roomreservation.html" class="info">BOOK NOW</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>STANDARD</b><br>
                  <large class="navy2">Rp. 500.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">2</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">Single/Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">4 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="standard.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>    

      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/superior.jpg" />
                <div class="mask">
                    <h2>SUPERIOR</h2>
                    <p>TV 24 Inch - Refigrator - AC 1PK - Hotel directory - Bath towel 2 - Coffe Maker</p>
                    <a href="roomreservation.html" class="info">BOOK NOW</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>SUPERIOR</b><br>
                  <large class="navy2">Rp. 540.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">2</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">Single/Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">4 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="superior.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>  

      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/deluxe.jpg" />
                <div class="mask">
                    <h2>DELUXE</h2>
                    <p>TV 32 Inch - Refigrator - AC 1PK - Hotel directory - Bath towel 2 - New Interior</p>
                    <a href="roomreservation.html" class="info" style="margin-bottom: 10px;">BOOK NOW</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>DELUXE</b><br>
                  <large class="navy">Rp. 590.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">2</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">Single/Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">4 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="deluxe.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>  

    </div>

    <br>

    <div class="row">
      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/suite2.jpg" />
                <div class="mask">
                    <h2>SUITE</h2>
                    <p>TV 39 Inch - Refigrator - 2 AC (1PK & 2PK) - Hotel directory - Bath towel 2 - Balcony</p>
                    <a href="roomreservation.html" class="info">BOOK NOW</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>SUITE</b><br>
                  <large class="navy">Rp. 730.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">2</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">Single/Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">9 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="suiteroom.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>  

      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/family1.jpg" />
                <div class="mask">
                    <h2>FAMILY</h2>
                    <p>TV 40 Inch - Refigrator - 2 AC (1PK & 2PK) - Hotel directory - Bath towel 4 - Balcony</p>
                    <a href="roomreservation.html" class="info">BOOK NOW</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>FAMILY</b><br>
                  <large class="navy">Rp. 850.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">4</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">2 Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">8.1 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="family.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>  

      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/family.jpg" />
                <div class="mask">
                    <h2>EXECUTIVE FAMILY</h2>
                    <p>TV 40 Inch - Refigrator - 2 AC (1PK & 2PK) - Hotel directory - Bath towel 4 - Balcony - More space</p>
                    <a href="roomreservation.html" class="info">BOOK NOW</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>EXECUTIVE FAMILY</b><br>
                  <large class="navy">Rp. 930.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">4</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">2 Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">8.2 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="exfamily.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>  

    </div>
  </div>

  <section id="features" class="parallax inner-shadow">
    <div class="container">
      <div class="row" >
        <div class="col-sm-12">
        <p class="lead">“Brainstorming your shared value and sense of styles to get perfect wedding then decide what will work best? There is only one name you need to know Alia Wedding organizer”</p>
        </div>
      </div>

      <div class="row" style="margin-top: 30px">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <a href="wedding.html" class="wedbtn" style="margin-top: 20px;">ALIA WEDDING</a>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>

  </section><!--/#features-->


  <section id="about-us" class="special parallax">
    <div class="container special" >
      <div class="row lead navy3">

        <div class="text-center col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <i class="fa fa-map-marker" style="background-color:transparent; font-size: 8em;"></i>
              <h3 style="color:#0a0e29"> Jl. Prapatan No. 28 Kwitang Jakarta Pusat 10410 Indonesia</h3>
            </div>
        <div class="text-center col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <i class="fa fa-envelope-o " style=" background-color:transparent; font-size: 8em;"></i>
              <h3 style="color:#0a0e29"> reservasi@grenaliaprapatanhotel.com</h3>
            </div>
        <div class="text-center col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <i class="fa fa-phone " style=" background-color:transparent; font-size: 8em;"></i>
              <h3 style="color:#0a0e29">+62 21 34834444</h3>
            </div>
          </div>
        </div>


      </div>
  </section><!--/#about-us-->

  <section id="contact">
    <div id="google-map" data-latitude="52.365629" data-longitude="4.871331" data-wow-duration="1000ms" data-wow-delay="400ms"></div>    
  </section><!--/#contact-->


  <footer id="footer">
    <div class="footer-bottom">
      <div class="container putih" >
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="social-icons">
              <ul>
                <li><a class="envelope" href="#"><i class=" fa fa-envelope"></i></a></li>
                <li><a class="twitter" href="#"><i class=" fa fa-twitter"></i></a></li> 
                <li><a class="dribbble" href="#"><i class=" fa fa-dribbble"></i></a></li>
                <li><a class="facebook" href="#"><i class=" fa fa-facebook"></i></a></li>
                <li><a class="linkedin" href="#"><i class=" fa fa-linkedin"></i></a></li>
                <li><a class="tumblr" href="#"><i class=" fa fa-tumblr-square"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row text-center">
            <p><br><br>Copyright 2017, Alia Hotels Group. All Rights Reserved<br>
            </p>
        </div>

      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>