<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>HOTEL GRAND ALIA PRAPATAN</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="css/circle.css" rel="stylesheet">
  <link href="css/full-slider.css" rel="stylesheet">
<style>
.affix{top:0;
width: 100%;
z-index: 1030;
}

</style>


  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->
    <!-- Full Page Image Background Carousel Header -->
<header id="home">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" style="transition-duration: 4s; ">

        <!-- Carousel items -->
        <div class="carousel-inner img-responsive">
            <div class="active item">
              <div class="col-sm-4 text-center" >
                <img src="images/official-logobaru.jpg" class="shadow" style=" text-align: center; background:transparent;" height="125" width="125" alt="logo">
              </div>
            </div>
            <div class="item">
              <div class="col-sm-4 text-center" >
                <img src="images/official-logobaru.jpg" class="shadow" style=" text-align: center; background:transparent;" height="125" width="125" alt="logo">
              </div>
            </div>
            <div class="item">
              <div class="col-sm-4 text-center" >
                <img src="images/official-logobaru.jpg" class="shadow" style=" text-align: center; background:transparent;" height="125" width="125" alt="logo">
              </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div>




      <!-- Controls -->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="indexind.html">
            <h1><img class="img-responsive" src="images/logo-gap2.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li><a href="indexind.html" style="color:#dbb13b;">Beranda</a></li>
            <li ><a href="galleryind.html">GALERI</a></li> 
            <li ><a href="suitesind.html">KAMAR & SUITE</a></li>                     
            <li ><a href="meetingsind.html">RUANG RAPAT</a></li>
            <li><a href="weddingind.html">PERNIKAHAN</a></li>
            <li><a href="roomreservationind.html">RESERVASI</a></li>
            <li ><a href="feedbackind.html">SARAN</a></li>

            <li><a href="index2.html"><img class="img-responsive" src="images/english.png" height="25" width="25" alt="logo"></a></li>
          </ul>

        </div>

      </div>
      </div><!--/#main-nav-->
  </header>




  <section id="services" style="background-color:#fffeed;">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="col-sm-12">
            <div class="lead text-center">
              <center><img class="img-responsive" src="images/start-divider.png" alt="separator"></center>

            </div>
              <div class="text-center navy2 fontgw">KEDIAMAN YANG NYAMAN DI PUSAT JAKARTA</div><br>
              <p class="lead" style="font-size:19;padding-top:5px;">Hotel nyaman berbintang 3 di jantung Jakarta. Gren Alia Prapatan Hotel memiliki akses yang dekat ke Monumen Nasional (MONAS) dan Stasiun Gambir, kantor pemerintahan, kedutaan asing, atraksi budaya menarik dan pusat perbelanjaan. Dengan desain yang mewah dan tidak terkekang waktu, juga memberikan kenyamanan tinggal di dalam kota baik untuk urusan bisnis maupun berekreasi.
              <br><br>
              Kamar tamu & suite yang lapang, Kamar-kamar utama dan suite diciptakan sesuai dengan standar kenyamanan moderen. Lokasi yang strategis, Hanya beberapa menit dari pusat perbelanjaaan dan juga dekat dari pusat bisnis, finansial dan hiburan di Jakarta. Wisata kuliner, Dikelilingi oleh kafe dan restauran – dengan berbagai menu yang fresh, baik dengan selera lokal maupun luar negeri. Tempat rapat dan even serbaguna, Ideal untuk rapat skala kecil, maupun pertemuan korporat skala skala besar, juga acara resepsi pernikahan yang glamor dengan kapasitas sampai 800 orang.
              
              </p>
              <br>
              <center><img class="img-responsive" src="images/end-divider.png" alt="separator2"></center>

            </div>

        </div>

        </div> 
      </div>
    </div>
  </section><!--/#services-->


  <section id="twitter" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <p class="lead" style="color:black;">
          Berlokasi di tengah kota Jakarta, Hotel Gren Alia Prapatan merupakan tempat yang sempurna untuk mengadakan pertemuan. Dengan ruang pertemuan yang nyaman, menu makanan yang menarik dan service yang maksimal, kami menjamin kepuasan anda. Yang akan anda terima: Service yang baik, lokasi terbaik di tengah kota Jakarta, menu yang lengkap, pilihan menu untuk coffee break, kapasitas untuk lebih dari 300 orang, internet yang cepat. </p>
        </div>
        <div class="col-sm-6 col-sm-offset-6">
          <br>
          <br>
          <br>
          <br>
          <br>
          <center><a href="meetingreservation.html" class="metbtn btn-1 btn-1e">RESERVASI</a></center>
        </div>
      </div>
    </div>
  </section><!--/#twitter-->



  <div class="container" style="padding-bottom: 10px; ">
    <div class="row" style="margin-top: 25px; margin-bottom:25px;">
      <div class="text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <p>Untuk informasi lebih lanjut silahkan click details</p>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/standard2.jpg"/>
                <div class="mask">
                    <h2>STANDARD</h2>
                    <p>TV 24 Inch - Kulkas - AC 1PK - Hotel directory - Handuk Mandi 2 </p>
                    <a href="roomreservation.html" class="info">BOOK NOW</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>STANDARD</b><br>
                  <large class="navy2">Rp. 500.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">2</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">Single/Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">4 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="standard.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>    

      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/superior.jpg" />
                <div class="mask">
                    <h2>SUPERIOR</h2>
                    <p>TV 24 Inch - Kulkas - AC 1PK - Hotel directory - Handuk Mandi 2 - Coffe Maker</p>
                    <a href="roomreservation.html" class="info">BOOKING</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>SUPERIOR</b><br>
                  <large class="navy2">Rp. 540.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">2</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">Single/Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">4 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="superior.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>  

      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/deluxe.jpg" />
                <div class="mask">
                    <h2>DELUXE</h2>
                    <p>TV 32 Inch - Kulkas - AC 1PK - Hotel directory - Handuk Mandi 2 - Interior Baru</p>
                    <a href="roomreservation.html" class="info" style="margin-bottom: 10px;">BOOKING</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>DELUXE</b><br>
                  <large class="navy">Rp. 590.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">2</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">Single/Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">4 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="deluxe.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>  

    </div>

    <br>

    <div class="row">
      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/suite2.jpg" />
                <div class="mask">
                    <h2>SUITE</h2>
                    <p>TV 39 Inch - Kulkas - 2 AC (1PK & 2PK) - Hotel directory - Handuk Mandi 2 - Balkon</p>
                    <a href="roomreservation.html" class="info">BOOKING</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>SUITE</b><br>
                  <large class="navy">Rp. 730.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">2</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">Single/Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">9 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="suiteroom.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>  

      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/family1.jpg" />
                <div class="mask">
                    <h2>FAMILY</h2>
                    <p>TV 40 Inch - Kulkas - 2 AC (1PK & 2PK) - Hotel directory - Handuk Mandi 4 - Balkon</p>
                    <a href="roomreservation.html" class="info">BOOK NOW</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>FAMILY</b><br>
                  <large class="navy">Rp. 850.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">4</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">2 Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">8.1 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="family.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>  

      <div class="col-sm-4">
          <figure class="thumbnail">
            <div class="view view-first">
              <img src="images/room/family.jpg" />
                <div class="mask">
                    <h2>EXECUTIVE FAMILY</h2>
                    <p>TV 40 Inch - Kulkas - 2 AC (1PK & 2PK) - Hotel directory - Handuk Mandi 4 - Balkon -  Lebih luas</p>
                    <a href="roomreservation.html" class="info">BOOK NOW</a>
                </div>
            </div>  
              <figcaption class="caption">
                <h3 class="biru"><b>EXECUTIVE FAMILY</b><br>
                  <large class="navy">Rp. 930.000</large>
                </h3>
              </figcaption>
              <figcaption class="caption">
                <i class="fa fa-user biru" style=" background-color:transparent; font-size:20px; "></i><b style="margin:0 20px 0 3px; font-size: 20px;">4</b> 
                <i class="fa fa-bed biru" style=" background-color:transparent; font-size:20px;"></i> <b style="margin:0 20px 0 3px; font-size: 16px;">2 Double</b>
                <i class="fa fa-expand biru" style="background-color:transparent; font-size:20px;"></i><b style="margin:0 20px 0 3px; font-size: 16px;">8.2 X 7 M²</b>
              </figcaption>
              <figcaption style="margin-top:20px;">
                <center><a href="exfamily.html" class="roombtn">DETAILS</a></center>
              </figcaption>

          </figure>
      </div>  

    </div>
  </div>

  <section id="features" class="parallax inner-shadow">
    <div class="container">
      <div class="row" >
        <div class="col-sm-12">
        <p class="lead">“Mencari ide-ide pesta pernikahan yang sempurna dari nilai-nilai bersama dan selera gaya yang diinginkan lalu memutuskan pilihan apa yang terbaik? Hanya ada satu nama yang perlu kamu tahu, Alia Wedding Organizer”</p>
        </div>
      </div>

      <div class="row" style="margin-top: 30px">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <a href="weddingind.html" class="wedbtn" style="margin-top: 20px;">ALIA WEDDING</a>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>

  </section><!--/#features-->



  <section id="about-us" class="special parallax">
    <div class="container special" >
      <div class="row lead navy2">

        <div class="text-center col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <i class="fa fa-map-marker navy" style=" background-color:transparent; font-size: 8em;"></i>
              <h3 style="color:#0a1923"> Jl. Prapatan No. 28 Kwitang Jakarta Pusat 10410 Indonesia</h3>
            </div>
        <div class="text-center col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <i class="fa fa-envelope-o navy" style=" background-color:transparent; font-size: 8em;"></i>
              <h3 style="color:#0a1923"> reservasi@grenaliaprapatanhotel.com</h3>
            </div>
        <div class="text-center col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <i class="fa fa-phone navy" style=" background-color:transparent; font-size: 8em;"></i>
              <h3 style="color:#0a1923">+62 21 34834444</h3>
            </div>
          </div>
        </div>


      </div>
  </section><!--/#about-us-->

  <section id="contact">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.6249356354692!2d106.83600311475746!3d-6.180928862284784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f679b5318f35%3A0xaf8ab9ca770f3d88!2sHotel+Gren+Alia+Prapatan!5e0!3m2!1sen!2sid!4v1485870948455" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section><!--/#contact-->


  <footer id="footer">
    <div class="footer-bottom">
      <div class="container putih" >
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="social-icons">
              <ul>
                <li><a class="envelope" href="#"><i class=" fa fa-envelope"></i></a></li>
                <li><a class="twitter" href="#"><i class=" fa fa-twitter"></i></a></li> 
                <li><a class="dribbble" href="#"><i class=" fa fa-dribbble"></i></a></li>
                <li><a class="facebook" href="#"><i class=" fa fa-facebook"></i></a></li>
                <li><a class="linkedin" href="#"><i class=" fa fa-linkedin"></i></a></li>
                <li><a class="tumblr" href="#"><i class=" fa fa-tumblr-square"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row text-center">
            <p><br><br>Copyright 2017, Alia Hotels Group. All Rights Reserved<br>
            </p>
        </div>

      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>